.App {
  background-color: rgb(225, 225, 225);
  height: 100vh;
  text-align: center;
}

.header {
  padding: 0.5%;
  font-size: 50px;
}

.calc-container {
  display: flex;
}

.inputs {
  width: 35%;
  border-right: 1px solid black;
  margin: 2%;
  text-align: left;
}

.calc-input {
  margin: 5%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.calc-input > input {
  margin-top: 2%;
  height: 30px;
}

.calc-total {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
